# Default ignored files
/../../../../:WebstormProjects/Module1-Tinhngaytrongthang/.idea/shelf/
/../../../../:WebstormProjects/Module1-Tinhngaytrongthang/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:WebstormProjects/Module1-Tinhngaytrongthang/.idea/httpRequests/
